<div class="container my-content">
  <h3 class="clearfix">Youth Camp 2018 - <small>Camper Information</small></h3>
  <%= render 'camper' %>

  <!-- Guessing theres a more elegant way-->
  <pre>
  <b>Campers' Rules and Regulations</b>

1) Each camper is responsible for his/her roommates and must always look out for them.
2) Rooms must be kept neat at all times.
3) Lights out MUST be observed.
4) There should be no crossing over, i.e. boys cannot go to girls' rooms and vice versa.
5) Campers must participate in all camp activities.
6) Every camper must have his/her morning devotion.
7) Campers must be on time for all camp activities.
8) Mobile phones should be switched off during all activities

9) Campers are to bring the following along to camp:
a. Bible, notebook, pens and pencils.
c. Sleeping cloth (Duvet) and warm clothing.
d. Bucket (optional)
f. Umbrella, Torchlight.
g. Money for books and other literature.
h. Pillow (optional).
i. Any necessary medication

Departure time from Accra Ridge Church/ Manet on Wednesday the 13th of June is at 12:30pm 
Campers will be returning from PCC to Accra Ridge Church/Manet on Sunday the 17th June 
RSVP: DICKSON: +233 504299298 EBENEZER ANIM: +233 26 8825838

(RIDGE)                             (MANET)  </pre>

</div>
