<div class="container my-content">
  <h3 class="clearfix">Your Details
  
  <a href="<%= print_path %>" class='pull-right btn btn-default btn-sm'>
  <span class="glyphicon glyphicon-print"></span> Print
  </a>
  <a href="<%= edit_registration_path current_user %>" class='pull-right btn btn-primary btn-sm' style="margin-right: 10px;">
  <span class="glyphicon glyphicon-pencil"></span> Edit
  </a>
  </h3>
  <%= render 'camper' %>
</div>