<% user = current_user%>
<div class="container">
  <h1 class="clearfix">Your Details
    
    <a href="" class='pull-right btn btn-default btn-sm'>
      <span class="glyphicon glyphicon-print"></span> Print
    </a>
    <a href="" class='pull-right btn btn-primary btn-sm' style="margin-right: 10px;"> 
      <span class="glyphicon glyphicon-pencil"></span> Edit
    </a>
  </h1>  
  <table class='table table-bordered'>
    <tbody>
      <tr>
        <td>Name</td>
        <td> <%= "#{user.last_name} #{user.first_name}"%>  </td>
      </tr>
    </tbody>
  </table>
</div>
