<div class='container my-content'>
		<div class=''>
			<h3>About the Youth Camp</h3>
			<br />
			<div>
				<p>
					The Accra Ridge Church Youth Camp is an annual 5 day retreat aimed at providing
					Christian youth with the opportunity to set aside time from their daily lives to
					be with God and fellowship with like minded believers.Its purpose is to build up and equip
the youth for effective Christian living. 
				</p>

				<p>
				Our theme for this year is “YET NOT I” with 1 Corinthians 15:10 as our theme
verse. It has been scheduled to come off from Wednesday 7th June -Sunday 11th June, 2017. 
				</p>

				
				<p>
					For more information on other ARC youth programs visit <a href="http://arcyf.com">arcyf.com</a>
				</p>
				
			





			</div>
		</div>
</div>
