<div class='container my-content'>
		<div class=''>
			<h3>About the Youth Camp</h3>
			<br />
			<div>
				<p>
					The Accra Ridge Church Youth Camp is an annual 5 day retreat aimed at providing
					Christian youth with the opportunity to set aside time from their daily lives to
					be with God and fellowship with likeminded believers.Its purpoe is to build up and equip
the youth for effective Christian living. This year, to mark the 80 th anniversary, the camp takes on a practical evangelism form, “The Accra Ridge Church Youth Outreach Camp 2016”. The program
will be a residential camp meeting for the entire Accra Ridge Church to reach out and evangelise the Asofan village in Amasaman over a one week period from July 18 th to 24 th 2016. 
				</p>

				<p>
				Our theme for this year is “Working the field of souls” with Matthew 28:19 as our theme
verse. It has been scheduled to come off from Monday 18 th July-Sunday 24 th July, 2016. There 
will be training sessions as well as prayer meetings to enable us be prepared to go out into the
community.
				</p>

				<p>
				At the camp grounds, campers will go out each day to evangelize to the members
of the community and invite them to crusades every evening. There will be a medical outreach on Saturday 
to cater for the health needs of the members of the community and it is expected that the whole Accra Ridge Church will join the Asofan community on Sunday for a
thanksgiving service.
				</p>
				<p>
					For more information on other ARC youth programs visit <a href="http://arcyf.com">arcyf.com</a>
				</p>
				
			





			</div>
		</div>
</div>
