<div class='container my-content'>
		<div class=''>
			<h3>Contact Persons</h3>
			<br />
			<table class='table table-bordered table-striped'>
		    <thead>
			    <tr>
			    	<!-- <th>Role</th> -->
				    <th>Contact Person </th>
				    <th>Phone Number </th>
			    </tr>
		    </thead>
		    <tbody>
			    <tr>
				<!-- <td>Head</td> -->
					<td> Caroline Brown</td>
					<td> 026 858 9775</td>
				</tr>
			   <tr>
			   		<!-- <td>Registration</td> -->
					<td> Daniel Koomson </td>
					<td>026 550 4936</td>
				</tr>
			    <tr>
				<td>Aaron Anim </td>
					<td>026 292 0697</td>
				</tr>
			    <tr>
			    <td>Delali Dentey </td>
					<td>020 461 1363</td>
				</tr>

		    </tbody>
	    </table>
		</div>
</div>
