<div class='container my-content'>

		<div class='faq'>
			<h3>FAQ's</h3>
			<br />
			<ol>
				<li>
					<div class='question'>How much will it cost to attend camp this year?</div>
					<div class='answer'>This year's camp will cost GHC 150.</div>
				</li>
				<li>
					<div class='question'>When is the deadline for registration?</div>
					<div class='answer'>Deadline for registration is 7th June 2017. Campers are encouraged to register early as planning

will factor in the number of registered campers.
					</div>
				</li>
				<li>
					<div class='question'>Where can I make a donation?</div>
					<div class='answer'> Donations can be made at the Ridge and Manet Church Offices from Monday to Friday and on

Sundays at registration desk.
					</div>
				</li>


				</li>
				<li>
					<div class='question'>Are there transportation arrangements for campers who will be coming to camp at the weekend?</div>
					<div class='answer'>Transport will be provided on Friday night from Ridge and Manet to the camp grounds

grounds and back.
					</div>
				</li>
					 
					 <!-- <li>
					<div class='question'>Is there an age requirement?</div>
					<div class='answer'> There is no age restriction</div>
				</li> --> 

			
			</ol>
	</div>
