<div class="row my-carousel-box">
  <div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @images.each_with_index do |image, idx| %>
          <% klass = idx==0 ? 'item active' : 'item' %>
          <div class="<%= "#{klass}" %>">
              <%= image_tag "web-banner-#{image}.jpg"  %>
          </div>    
        <% end %> 
          <%# image_tag('/assets/web-banner-03.jpg') %>      
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<!-- <div id="banner" class="bg1">
</div> -->

<div class="row commitee-message">
  <div class="container">
    <div class="col-lg-12 col-md-12  lead">
      <h3>Message from comittee</h3>
        In 2 Cor 3:3 Paul makes us aware we are the letters of Christ, written by God with the Holy Spirit us the ink. 
        This year youth camp seeks to explore what it means to be a <span class="highlight">"letter of Christ"</span> . 
        Questions we seek to answer: What does it mean to authored by the Father? 
        What does the word of God mean written with the ink of the Holy Spirit? 
        If we are letters who have we been written to?
        We seek to understand what it means to be God's Masterpiece, his own design and crafting.
        We desire to truly live up to the great expectation God has for us, 
        to fulfil our assignment both as individuals and as a church. 
        We wish to practically manifest the desire of God for our generation(the readers).
        In this camp we will look at who we are and not what we think we are,
        pray and fast for the manifestation of our gifts and calling, 
        christian excellence, targeting the mountains of our nation and a whole lot more.
    </div>    
  </div>    
</div>
<div class="container">
  
  <div class="row testimonies">
    <div class="col-lg-12 col-md-12">
    <h3>Testimonies</h3>
  </div>
  <div class="col-lg-6 col-md-6 testimony">
    <div class="message">
      <div class="pull-left image">
        <%# image_tag('robin.JPG') %>
      </div>
      <p>Last year's camp was the genesis of an awakening for me. I think it's the only camp I've been to which extended till after camp in a different way. I started having dreams of battle after camp. The battlefield we are in became more real after camp. And by grace I continue to triumph! </p> 
      <p>One thing I gleaned, haven't forgotten and always think on is the concept of 'eating and drinking' : eating of the word and drinking of the Spirit. I guess we all remember Rev. Arthur's message plus the analogy in Proverbs of the drunk man and how it corresponded with being drunk in the Spirit. And there was also Gustav's prophetic Christ's ambassadors message. </p>

      <p>I'v been shared the messages with a few of my friends and they are also being influenced! So yh...I thank God for camp!</p>
     <div class="name">Selassie Bedzrah</div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 testimony">
    <div class="message">
    <div class="pull-left image">
        <%# image_tag('sena.jpg') %>
      </div>
      <p>
      Camp has always been an amazing experience for me and a glimpse of what fellowshipping with the body in heaven is going to be like. It's always refreshing wen we go all go away and spend time with our Heavenly Father, older brother and everpresent confidant HolySpirit. It's the Word that even culminates everything.  The Revelation that comes with the Word from the mouths of those who readily yield their hearts to do the Father's work. It's breathtaking n I trust we all will get there someday as we continue to seek His will to be done in our lives.
      <div class="name">Dzidzo Asase</p>
      </div>
    </div>
  </div>  
  </div> 
  
</div>

<script type="text/javascript" charset="utf-8">
  (function (){
    var ids = ['camper_email', 'confirm_email', 'camper_phone_number', 'confirm_phone_number'];

    var email = $("#"+ids[0]);
    var emailConfirm = $("#"+ids[1]);
    var phoneNumber = $("#"+ids[2]);
    var phoneNumberConfirm = $("#"+ids[3]);

    var errorBox = $("#errorBox");
    var ERR_MESSAGES = {
      EMAIL_BLANK: "Email cannot be blank",
      PHONE_NUMBER_BLANK: "Phone number cannot be blank",
      EMAIL: "Emails are not the same",
      PHONE_NUMBER: "Phone Numbers are not the same",
    }

    errorBox.hide();

    for(var i =0; i < ids.length; i++){
        var id = "#" + ids[i];
        $(id).bind('copy paste', function (e) {
           e.preventDefault();
        });
    }

    $("#register_button").on('click', function (e){
      errorBox.hide();
      function areEmailsTheSame(){
        return email.val() === emailConfirm.val();
      }

      function arePhoneNumbersTheSame(){
        return phoneNumber.val() === phoneNumberConfirm.val();
      }

      function showError(message){
        errorBox.find("#message").text(message);
        errorBox.show();
        e.preventDefault();
      }

      if($.trim(email.val()) === ""){
        showError(ERR_MESSAGES.EMAIL_BLANK)
        return false;
      }

      if($.trim(phoneNumber.val()) === ""){
        showError(ERR_MESSAGES.PHONE_NUMBER_BLANK)
        return false;
      }

      if(!areEmailsTheSame()){
        showError(ERR_MESSAGES.EMAIL);
        return false;
      }

      if(!arePhoneNumbersTheSame()){
        showError(ERR_MESSAGES.PHONE_NUMBER);
        return false;
      }

    })

  })();
</script>
