<div class="row my-carousel-box">
  <div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @images.each_with_index do |image, idx| %>
          <% klass = idx==0 ? 'item active' : 'item' %>
          <div class="<%= "#{klass}" %>">
              <%= image_tag "web-banner-#{image}.jpg"  %>
          </div>    
        <% end %> 
          <%# image_tag('/assets/web-banner-03.jpg') %>      
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<!-- <div id="banner" class="bg1">
</div> -->

<div class="row commitee-message">
  <div class="container">
    <div class="col-lg-12 col-md-12  lead">
      <h3>Message from theCamp Chairman </h3>
I will like to first and foremost welcome you to this year’s camp. On behalf on the committee & myself,
I will like to thank you for accepting our invitation. We are indeed grateful and we promise it is going to be worth your while. 
This year’s theme is “The Man, The Mantle & The Mandate”. The theme makes for a good rhythm but a careful & prayerful examination
of the theme will reveal so much more. I will like to explore the idea of “The Man” in my welcome address as a teaser for what 
awaits you in the coming days.
Genesis 1:26 encapsulates this idea clearly. It reads “And God said let us make man in our image and after in our likeness…” 
 It describes the identity of “Man” who at the heart of the recreation story & the redemptive story of the bible. Man was created
 initially in the image of God-Genesis 1:26-,fell short of that glory-Romans 3:23 & finally he was recreated in Christ who is 
described as the express image of God- Hebrew 1:1-3, Ephesians 2:10. So it is clear from the creative & redemptive story that
 God is primarily interested in restoring man’s true identity. This identity is our sonship- his image-, an expression of His
 glory & likeness. It is not an economic identity, social identity, racial identity or gender/sexual identity. Galatians 3:27-28 
puts it succinctly. It reads, “For ye are all children of God by faith in Christ Jesus. For as many of you as have been baptized
 into Christ have put on Christ. There is neither Jew nor Greek(ethnicity), there is neither bond nor free(economic or social status), 
there is neither male nor female( gender/sex) These identities have tendency of limiting us as seek to wear our mantle-the power &
 characteristics of God- & carry out mandate-the plan of God for one’s life. Like Saul and Gideon when God calls us to purpose the 
first thing that comes to mind is our economic status & social status and not the most important identity of sonship or relationship
 with him. God wants us to be like David when He met Goliath. He didn’t doubt the immensity of the task but he was clear on whose side
 God was on. This is the key overcoming our own Goliaths. 
So as you spend the coming week at camp be like the woman with the issue of blood. Let your faith, determination & single minded draw not
 only God’s power but also His attention & admiration. Do not be distracted by crowd. Let every minute count. Let this be your tipping point. 
Let this be “your road to Damacus experience”-Let God distract you from your normal programming and you in turn engage Him through bible study, 
prayer & worship. 
The committee will be at your beck & call. It is our prayer that this camp will be landmark and a watershed moment for you. 
You are welcome once again & we look forward to the myriad of testimonies flowing this year’s camp. We love you and God bless you!
Kind Regards,

Victor Quagraine (Chairman)

        
    </div>    
  </div>    
</div>
<div class="container">
  
  <div class="row testimonies">
    <div class="col-lg-12 col-md-12">
    <h3>Testimonies</h3>
  </div>
  <div class="col-lg-6 col-md-6 testimony">
    <div class="message">
      <div class="pull-left image">
        <%= image_tag('robert.jpg') %>
      </div>
<p>      My perception of camp meetings in general was not the best due to past experiences from other camp settings. 
I was invited by a friend and decided to attend the 2017 Accra Ridge Youth Fellowship Camp because I was on leave. 
My perception about camp meetings changed from the first meeting. I had never seen a youth group that was so dedicated to prayer- 
this got me excited and I knew from that night that this gathering would be great. 
My prayer life was dying down and needed urgent resuscitation hence I had to find help, that's what drove me to the Camp.
The theme, “Yet not I” brought me to the understanding of denying myself and dying daily. 
The daily dawn prayers, fasting and bible studies gave some spice to my life and I have held on to this even till now. 

I'll entreat every Christian within the target group to make it a point to attend this year’s camp. You are in for a life changing
  experience.</p>



     <div class="name">Robert Lomotey.</div>
    </div>
    
     <div class="col-lg-6 col-md-6 testimony">
    <div class="message">
    <div class="pull-left image">
        <%= image_tag('phoebe.jpg') %>
      </div>
<p>     Last year's youth camp was an insightful and thought provoking camp which had a theme which everyone could relate on; 
  “Yet Not I”. It was a reminder that through the ups and downs, highs and lows, it's by the grace of God who makes us who we are.
On a personal note, camp was and has always been a time for reflection and pondering. Last year's youth camp was an avenue to figure
  out and seek out the next step after school and which other place than 5 days in isolation, sitting at the feet of the Lord seeking
  His face. From dawn chain prayers to detailed teaching sessions to power packed all nights. At the end of those 5 days, decisions 
  concerning work, school, walk with Christ and relationships were clearer.
Camp was a teaching moment to blend in each and every section of my life and not solely be fixated on one aspect. Life after camp 
  has not been rosy as we plan it to be during camp, cliché as it may seem it is the truth but that's where church and
  fellowshipping plays a vital role as it helps guide us onto the path we desire.
So this year's youth camp, I entreat everyone to make it to camp. Remove that perception that after camp things will go back to
  its former self. Yes, it may seem so at first but that's when the Holy Spirit plays a significant role, the Holy Spirit convicts you.
  Unconsciously, the former self is renewed and then one becomes a new creation. I pray and hope the turn out for this camp will be
  overwhelming, as we spend time in His presence. Hope to see you there!!</p>
 <div class="name">Pheobe Kekeli Nkansah</div>
  </div>

    </div> 
  
</div>

<script type="text/javascript" charset="utf-8">
  (function (){
    var ids = ['camper_email', 'confirm_email', 'camper_phone_number', 'confirm_phone_number'];

    var email = $("#"+ids[0]);
    var emailConfirm = $("#"+ids[1]);
    var phoneNumber = $("#"+ids[2]);
    var phoneNumberConfirm = $("#"+ids[3]);

    var errorBox = $("#errorBox");
    var ERR_MESSAGES = {
      EMAIL_BLANK: "Email cannot be blank",
      PHONE_NUMBER_BLANK: "Phone number cannot be blank",
      EMAIL: "Emails are not the same",
      PHONE_NUMBER: "Phone Numbers are not the same",
    }

    errorBox.hide();

    for(var i =0; i < ids.length; i++){
        var id = "#" + ids[i];
        $(id).bind('copy paste', function (e) {
           e.preventDefault();
        });
    }

    $("#register_button").on('click', function (e){
      errorBox.hide();
      function areEmailsTheSame(){
        return email.val() === emailConfirm.val();
      }

      function arePhoneNumbersTheSame(){
        return phoneNumber.val() === phoneNumberConfirm.val();
      }

      function showError(message){
        errorBox.find("#message").text(message);
        errorBox.show();
        e.preventDefault();
      }

      if($.trim(email.val()) === ""){
        showError(ERR_MESSAGES.EMAIL_BLANK)
        return false;
      }

      if($.trim(phoneNumber.val()) === ""){
        showError(ERR_MESSAGES.PHONE_NUMBER_BLANK)
        return false;
      }

      if(!areEmailsTheSame()){
        showError(ERR_MESSAGES.EMAIL);
        return false;
      }

      if(!arePhoneNumbersTheSame()){
        showError(ERR_MESSAGES.PHONE_NUMBER);
        return false;
      }

    })

  })();
</script>
