<div class="row my-carousel-box">
  <div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @images.each_with_index do |image, idx| %>
          <% klass = idx==0 ? 'item active' : 'item' %>
          <div class="<%= "#{klass}" %>">
              <%= image_tag "web-banner-#{image}.jpg"  %>
          </div>    
        <% end %> 
          <%# image_tag('/assets/web-banner-03.jpg') %>      
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<!-- <div id="banner" class="bg1">
</div> -->

<div class="row commitee-message">
  <div class="container">
    <div class="col-lg-12 col-md-12  lead">
      <h3>Message from committee</h3>
        This year’s youth camp is themed “…YET NOT I”: HIS WORK, HIS GRACE, OUR CALLING,
1 Corinthians 15:10- “But by the grace of God I am what I am, and his grace to me was not without
effect. No, I worked harder than all of them-yet not I, but the grace of God that was with me.” This
years’ camp seeks to emphasize the fact that our service to God is not of ourselves but by his grace at
work in us. Man is just but a vessel through which the eternal God accomplishes the desires of his heart.
    </div>    
  </div>    
</div>
<div class="container">
  
  <div class="row testimonies">
    <div class="col-lg-12 col-md-12">
    <h3>Testimonies</h3>
  </div>
  <div class="col-lg-6 col-md-6 testimony">
    <div class="message">
      <div class="pull-left image">
        <%= image_tag('joana.jpg') %>
      </div>
<p>      When I completed senior high school, I was so insecure and spiritually malnourished.
I knew about God but didn't know him personally. Deep down I knew there was something more than the 
  'shallow'Christian life I had been accustomed to. A friend convinced me to attend camp and that was the beginning of 
  my beautiful journey with God Youth Camp 2008 at Hephzibah Centre was my great awakening! 
  The atmosphere and environment was so welcoming and serene. My life took such a dramatic turn and I believe 
  the training I received from camp formed the moral and spiritual foundation that took me throughout my university education. 
  Since then, Youth Camp has been an encounter with God that I look forward every year. 
  Irrespective of your level of spiritual maturity, there is always something new to learn at Youth Camp.
Another remarkable testimony I had was at Youth Camp 2014 at PCC. I was so burdened with many worries during 
  that period of my life.
  I needed a job after national service and wanted my brother's interest in camp to be revived after 5 years of apathy.  
  There was a cross that was positioned at camp for prayer topics. In faith I wrote mine and stuck them to the cross. After camp,
  God came through for me in so many ways beyond my expectation.
  I was maintained permanently at work and given a better position!
  My brother also attended camp the following year and has never missed any of the subsequent sessions.
  God just 'wowed'me in so many ways.I would recommend Youth Camp for every believer who wants more of God, who would not 
  settle for the status quo and wants to leave a footprint in the sands of time! I promise you, your life would take a 180 degree turn. 
  Don't miss Youth Camp 2017!!

     <div class="name">Joana Hesse</div>
    </div>
    
     <div class="col-lg-6 col-md-6 testimony">
    <div class="message">
    <div class="pull-left image">
        <%= image_tag('enam.jpg') %>
      </div>
<p>     Accra Ridge Church's annual Youth Camp is always permanent on my calendar due to the fact that I've been a Ridgean for as long as
  I can remember. Having attended quite a number of youth camps, I've been blessed countless times by the great sermons, amazing ministrations,
  and wonderful experiences every single year.
One year I had great insight into what being a true child of God meant, another year I learnt the true meaning of service in the house of
  God and why it was essential and yet another year, I recieved a prophecy concerning my life which gave me a greater sense of purpose and
  showed me the direction God wanted me headed in.
All in all, my testimonies from camp are numerous and I believe strongly that this year, during Youth Camp 2017, it'll be business as usual with
  God touching each and everyone's life in one way or the other. Just come with a willing heart and your testimony will be great!

 <div class="name">Enam Kunutsor</div>
  </div>

    </div> 
  
</div>

<script type="text/javascript" charset="utf-8">
  (function (){
    var ids = ['camper_email', 'confirm_email', 'camper_phone_number', 'confirm_phone_number'];

    var email = $("#"+ids[0]);
    var emailConfirm = $("#"+ids[1]);
    var phoneNumber = $("#"+ids[2]);
    var phoneNumberConfirm = $("#"+ids[3]);

    var errorBox = $("#errorBox");
    var ERR_MESSAGES = {
      EMAIL_BLANK: "Email cannot be blank",
      PHONE_NUMBER_BLANK: "Phone number cannot be blank",
      EMAIL: "Emails are not the same",
      PHONE_NUMBER: "Phone Numbers are not the same",
    }

    errorBox.hide();

    for(var i =0; i < ids.length; i++){
        var id = "#" + ids[i];
        $(id).bind('copy paste', function (e) {
           e.preventDefault();
        });
    }

    $("#register_button").on('click', function (e){
      errorBox.hide();
      function areEmailsTheSame(){
        return email.val() === emailConfirm.val();
      }

      function arePhoneNumbersTheSame(){
        return phoneNumber.val() === phoneNumberConfirm.val();
      }

      function showError(message){
        errorBox.find("#message").text(message);
        errorBox.show();
        e.preventDefault();
      }

      if($.trim(email.val()) === ""){
        showError(ERR_MESSAGES.EMAIL_BLANK)
        return false;
      }

      if($.trim(phoneNumber.val()) === ""){
        showError(ERR_MESSAGES.PHONE_NUMBER_BLANK)
        return false;
      }

      if(!areEmailsTheSame()){
        showError(ERR_MESSAGES.EMAIL);
        return false;
      }

      if(!arePhoneNumbersTheSame()){
        showError(ERR_MESSAGES.PHONE_NUMBER);
        return false;
      }

    })

  })();
</script>
