<div class='container my-content'>
    <div class='row text-center' >
      <h3>Check out highlights from last years camp<h3/>   
    </div>
    <div class="center-block">
    <div class='center-block'>
    	<iframe class="center-block" width="853" height="480" src="//www.youtube-nocookie.com/embed/videoseries?list=PLJ85-k1DvS3uJQ7D7i4WW_zp7cErJfP6v" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
</div>
