<div class='container my-content'>
    <div class='row text-center' >
      <h3>Check out highlights from last year's camp<h3/>   
    </div>
    
    <div class='center-block'>
    	<!-- <iframe  width="853" height="480" src="//www.youtube.com/embed/p/PLJ85-k1DvS3uJQ7D7i4WW_zp7cErJfP6v" frameborder="0" allowfullscreen></iframe> -->
    	<iframe class="center-block" width="853" height="480" src="//www.youtube.com/embed/videoseries?list=PLJ85-k1DvS3uJQ7D7i4WW_zp7cErJfP6v" frameborder="0" allowfullscreen></iframe>
    
    </div>

</div>
