.y-nav-links {
  margin-left: 300px;
}

.faq {
	font-family: tahoma;
	font-size : 14px;
}

.faq li {
	font-weight : bold;
}

.faq .question {
	padding-bottom: 5px;
}

.faq .answer {
	margin-bottom : 30px;
	font-weight : normal;
}
