<!DOCTYPE html>
<html >
<head>
  <title>YouthCamp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app" class='admin-app'>

  <%= render 'layouts/top_menu_admin' %>
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-sm-12  col-md-12 admin-main">
        <ui-view></ui-view>    
    </div>
  </div> 
  
  </div>
</body>
</html>
